<div class="container-fluid">
  <footer
    class="d-flex flex-wrap justify-content-evenly align-items-center py-3 my-4 border-top"
  >
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary"
        >© 2023 Argentina Programa 4.0</span
      >
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a
          class="text-body-secondary"
          href="https://twitter.com/econocimientoar"
          ><i class="bi bi-twitter fs-2"></i
        ></a>
      </li>
      <li class="ms-3">
        <a
          class="text-body-secondary"
          href="https://www.instagram.com/argentinaprograma4.0/"
          ><i class="bi bi-instagram fs-2"></i
        ></a>
      </li>
      <li class="ms-3">
        <a
          class="text-body-secondary"
          href="https://www.facebook.com/people/Argentina-Programa-40/100084956654182/"
          ><i class="bi bi-facebook fs-2"></i
        ></a>
      </li>
    </ul>
  </footer>
</div>
