<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a
      class="navbar-brand text-bg-dark ms-5"
      href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"
      >Argentina Programa 4.0</a
    >
    <!-- Enlace de la marca del navbar -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 ms-3 mb-lg-0">
        <li class="nav-item me-2">
          <a class="nav-link active text-bg-dark" aria-current="page" href="/"
            >Inicio</a
          >
          <!-- Enlace de la página de inicio -->
        </li>
        <li class="nav-item">
          <a class="nav-link active text-bg-dark" href="/productos"
            >Productos</a
          >
          <!-- Enlace de la página de productos -->
        </li>
      </ul>
      <a
        class="navbar-brand d-flex justify-content-center"
        href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"
        ><img
          src="logo_argentina_programa.png"
          alt="Logo Argentina Programa"
          class="w-25 rounded-1"
      /></a>
      <!-- Logo del programa Argentina Programa 4.0 -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>
